body{
  margin: 0;
  background-color: hsl(217, 28%, 15%);
}

h1, h2{
  font-family: 'Raleway', sans-serif;
}

p, a{
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.header{
  height: 130px;
  width: 100%;
  position: relative;
}

.logo{
  position: absolute;
  left: 80px;
  bottom: 0;
}

.navigation{
  display: block;
  text-align: right;
  position: absolute;
  top: 95px;
  right: 80px;
  font-family: "Raleway", sans-serif;
}

.features{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right:  50px;
}

.team{
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right:  50px;
}

.signin{
  display: inline-block;
  text-decoration: none;
  color: white;
}


.introcontainer{
  text-align:center;
  padding-bottom: 200px;
  position: relative;
}

.intro{
  display: inline-block;
  margin: 50px auto 0 auto;
}

.introtext{
  width: 45%;
  margin: 0 auto 0 auto;
  color: white;
}

.butn {
  margin-top: 15px;
  display: inline-block;
  background: #00ccff;
  background-image: -webkit-linear-gradient(top, #00ccff, #0084d6);
  background-image: -moz-linear-gradient(top, #00ccff, #0084d6);
  background-image: -ms-linear-gradient(top, #00ccff, #0084d6);
  background-image: -o-linear-gradient(top, #00ccff, #0084d6);
  background-image: linear-gradient(to bottom, #00ccff, #0084d6);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 15px 90px 15px 90px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.divider{
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  left: 0;
}
.midcontainer{
  text-align: center;
  background-color: hsl(218, 28%, 13%);
}

.mid{
  display: inline-block;
  position: relative;
  margin: 50px auto 0 auto;
  width: 1200px;
  height: 700px;
  color: white;
  margin-top: 0;
}

.firstlogo{
  width: 50%;
    display: inline-block;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.secondlogo{
  width: 50%;
    display: inline-block;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
}
.thirdlogo{
  width: 50%;
    display: inline-block;
  height: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.fourthlogo{
  width: 50%;
  display: inline-block;
  height: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.firstlogotext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  top: 0;
}
.secondlogotext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  top: 0;

}
.thirdlogotext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  top: 0;
}
.fourthlogotext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  top: 0;
}

.botcontainer{
  text-align: center;
  background-color: hsl(218, 28%, 13%);
}

.bot{
  display: inline-block;
}
.bottext{
  float: right;
  width: 40%;
  position: relative;
  top: 100px;
  right: 50px;
  color: white;
  text-align: left;
}

.fyloworks{
  text-decoration: none;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid;
  padding-bottom: 5px;
}

.fyloarrow{
  position: relative;
  top: 3px;
}

.footercontainer{
  height: 300px;
  background-color: hsl(216, 53%, 9%);
    position: relative;
    color: white;
}


.firstfoot{
  width: 22%;
  display: inline-block;
  position: absolute;
  left: 3%;
  top: 25%;
  bottom: 25%;
}

.secondfoot{
  width: 25%;
  display: inline-block;
  position: absolute;
  bottom: 25%;
  top: 25%;
  left: 25%;
}

.thirdfoot{
  width: 25%;
  display: inline-block;
  position: absolute;
  bottom: 25%;
  left: 50%;
  top: 25%;
}

.fourthfoot{
  width: 22%;
  display: inline-block;
  position: absolute;
  bottom: 25%;
  top: 25%;
  left: 75%;
}

.footlogotext{
  width: 90%;
  position: relative;
  left: 40px;
}

.pinicon{

  color: white;
  float: left;
  position: absolute;
  bottom: 38%;
  left: 0;
}

.phoneicon{

  position: absolute;
  bottom: 38%;
  left: 30%;

}

.phone{
  margin: 0;
  position: absolute;
  bottom: 35%;
  left: 50%;
    transform: translate(-50%, 0);
}

.email{
  position: absolute;
  bottom: 10%;
  margin: 0;
  left: 59%;
  transform: translate(-59.5%, 0);
}

.emailicon{
  position: absolute;
  bottom: 12%;
  left: 30%;
}

.thirdfoottext{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  bottom: 0;
}
